.number-input {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 250px;
    margin-bottom: 10px;
}
.number-input__text {
    width: 150px;
}
.number-input__input {
    width: 70px;
    margin-right: 10px;
}
